/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}
/* navbar styling */
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}
nav.sticky{
  background: #f7f8fa;
  padding: 25px 0;
}
nav .navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}


nav .navbar .logo a{
  font-weight: 500;
  font-size: 30px;
  color: #4070f4;
  margin-left: 50px; 
}
nav.sticky .navbar .logo a{
  color: #000000;
  
}
nav .navbar .menu{
  display: flex;
  position: static;
 
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 15px;
  
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: #0E2431;
  padding: 6px 0;
  transition: all 0.4s ease;
  margin-right: 50px;

}
.navbar .menu a:hover{
  color: #4070f4;
}
nav.sticky .menu a{
  color: #000000;
}
nav.sticky .menu a:hover{
  color: #0E2431;
}
.navbar .media-icons a{
  color: #4070f4;
  font-size: 18px;
  margin: 0 6px;
}
nav.sticky .media-icons a{
  color: #FFF;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #4070f4;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}

/* home section styling */
.home{
  height: 100vh;
  width: 100%;
  background: url("images/background.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.home .home-content{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one{
  font-size: 25px;
  color: #0E2431;
}
.home .text-two{
  color: #0E2431;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-three{
  font-size: 40px;
  margin: 5px 0;
  color: #4070f4;
}
.home .text-four{
  font-size: 23px;
  margin: 5px 0;
  color: #0E2431;
}
.home .button{
  margin: 14px 0;
}
.home .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.home .button button:hover{
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

/* About Section Styling */
/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */
section{
  padding-top: 40px;
}
section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left{
  width: 45%;
}
.about .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right{
  width: 55%;
}
section  .topic{
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p{
  text-align: justify;
  color: #0E2431;
}
section .button{
  
  margin: 16px 0;
}
section .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover{
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

 /* My Skills CSS */
 .skills{
  background: #FFFFFF;
 }
 
 .skills-details p{
   color: #0E2431;
   text-align: justify;
 }
.skills .skills-details .experience{
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.skills-details .experience .num{
  color: #0E2431;
  font-size: 80px;
}
.skills-details .experience .exp{
  color: #0E2431;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}

.skills-details .boxes .topic{
  font-size: 20px;
  color: #4070f4;
  text-align: left;
}
.skills-details .boxes .per{
  font-size: 60px;
  color: #4070f4;
}

.topic {
  font-size: 20px;
  color: #4070f4;
}

.per {
  font-size: 60px;
  color: #4070f4;
}

.skills .content {
  padding: 40px 0;
}

.skills-details {
  display: flex;
  flex-direction: column;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.box {
  width: calc(25% - 20px);
  margin: 20px 10px;
  border: none; /* Remove default border */
  background-color: white; /* Set background color */
  padding: 10px; /* Add padding for spacing */
  border-radius: 5px; /* Add border radius */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add box shadow */
  transition: transform 0.3s ease; /* Add transition effect */
}
.box:hover {
  transform: translateY(-5px); /* Apply hover effect */
}

.topic {
  font-size: 20px;
  color: #4070f4;
  margin-bottom: 10px; /* Add margin at the bottom of topic */
}

.bar {
  background-color: #f0f0f0;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  
}

.progress {
  height: 100%;
  background-color: #4070f4;
}

.percentage {
  font-size: 14px;
  color: #0e2431;
}

@media screen and (max-width: 768px) {
  .box {
    width: 50%;
    margin: 20px 0;
  }
}
/* Color Styles for Each Skill */
.box:nth-child(1) .bar .progress {
  background-color: #f00b3d; /* Change the color for HTML skill */
}

.box:nth-child(2) .bar .progress {
  background-color: #1492e6; /* Change the color for CSS skill */
}

.box:nth-child(3) .bar .progress {
  background-color: #e8aa0d; /* Change the color for JavaScript skill */
}

.box:nth-child(4) .bar .progress {
  background-color: #18c6c6; /* Change the color for Python skill */
}
.box:nth-child(5) .bar .progress {
  background-color: #c61892; /* Change the color for Python skill */
}
.box:nth-child(6) .bar .progress {
  background-color: #2a96ab; /* Change the color for Python skill */
}
.box:nth-child(7) .bar .progress {
  background-color: #f77708; /* Change the color for Python skill */
}
.box:nth-child(8) .bar .progress {
  background-color: #41ca23; /* Change the color for Python skill */
}
.box:nth-child(9) .bar .progress {
  background-color: #cff708; /* Change the color for Python skill */
}
.box:nth-child(9) .bar .progress {
  background-color: #a30fe7; /* Change the color for Python skill */
}
@media screen and (max-width: 768px) {
  .box {
    width: 50%;
    margin: 20px 0;
  }
}
.bar {
  width: 80%; /* Adjust the width for narrower bars */
}
/* My Services CSS */
/* My Projects CSS */
.projects .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects .boxes .box {
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}
.projects .boxes .box:hover {
  background: #4070f4;
  color: #fff;
}
.projects .boxes .box .project-image {
  height: 200px; /* Adjust the height as needed for the project images */
  margin-bottom: 10px;
}
.projects .boxes .box .project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.projects .boxes .box .topic {
  font-size: 18px;
  font-weight: bold;
  color: #4070f4;
}
.projects .boxes .box p {
  color: #0E2431;
}
.projects .boxes .box:hover .topic,
.projects .boxes .box:hover p {
  color: #0E2431;
  transition: all 0.4s ease;
}
.projects .boxes .box:hover .project-image img {
  filter: brightness(70%); /* Adjust the brightness for the image on hover */
}
.projects .boxes .box:hover .project-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

/* ========================== Certification section ========================*/
/* Contact Me CSS */
.contact {
  background: #F0F8FF;
}
.contact .content {
  margin: 0 auto;
  padding: 30px 0;
}
.contact .text {
  width: 80%;
  text-align: center;
  margin: auto;
}
.contact form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .form-group {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}
.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.contact textarea {
  height: 120px;
}
.contact button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4070f4;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact button[type="submit"]:hover {
  background-color: #335ac8;
}





/* Footer CSS */
footer{
  background: #4070f4;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
footer .text span{
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
footer .text span a{
  font-weight: 500;
  color: #FFF;
}
footer .text span a:hover{
  text-decoration: underline;
}
/* Scroll TO Top Button CSS */
.scroll-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #4070f4;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content{
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar{
    width: 90%;
  }
  nav .navbar .menu{
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu{
    left: 0;
  }
  nav .navbar .menu a{
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover{
    color: #4070f4;
  }
  nav .navbar .media-icons{
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    display: block;
  }
  .home .text-two{
    font-size: 65px;
  }
  .home .text-three{
    font-size: 35px;
  }
  .skills .skills-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text{
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: 100%;
  }
  .contact .text{
    width: 100%;
}
}

@media (max-width: 500px){
  .home .text-two{
    font-size: 55px;
  }
  .home .text-three{
    font-size: 33px;
  }
  .skills-details .boxes .per{
    font-size: 50px;
    color: #4070f4;
  }
}
